@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html 
{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,*::after,*::before
{
    padding: 0px;
    margin: 0px;
    box-sizing: inherit;
    outline: none;
    text-decoration: none;
    color: #fff;
    list-style: none;
}

.container
{
    max-width:1120px;
    margin: 0 auto;
}
